// sass --watch ./source/sass/styles.scss ./build/css/styles.css

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*** primary colors ***/
$very-dark-blue: hsl(233deg, 47%, 7%);
$dark-desaturated-blue: hsl(244deg, 38%, 16%);
$soft-violet: hsl(277deg, 64%, 61%);

/*** neutral colors ***/
$white: hsl(0deg, 0%, 100%);
$slightly-transparent-white: hsla(0deg, 0%, 100%, 0.75);
$transparent-white: hsla(0deg, 0%, 100%, 0.6);

body {
    background-color: $very-dark-blue;
    font-size: 15px;
}

h1 {
    color: $white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h2.stats {
    color: $white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background-color: $dark-desaturated-blue;
    border-radius: 10px;
    color: $transparent-white;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1440px;
    
    img {
        width: 100%;
    }
    
    .container-body {
        font-family: 'Inter', sans-serif;
        padding: 25px 50px;
        text-align: center;

        div {
            text-transform: uppercase;
        }
    }
}

.desktop-header {
    display: block;
}

.img-header {
    background: $soft-violet;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        object-fit: cover;
        opacity: 0.7;
    }
}

.main-paragraph {
    color: $slightly-transparent-white;
}

.mobile-header {
    display: none;
}

.purple-highlight {
    color: $soft-violet;
}

@media screen and (max-width: 1000px) {
    .img-header {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        
        img {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 0;
        }
    }

    .container {
        flex-direction: column;
        width: 375px;
    }

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }
}
