// sass ./source/sass/styles.scss ./build/css/styles.css

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*** primary colors ***/
$very-dark-blue: hsl(233deg, 47%, 7%);
$dark-desaturated-blue: hsl(244deg, 38%, 16%);
$soft-violet: hsl(277deg, 64%, 61%);

/*** neutral colors ***/
$white: hsl(0deg, 0%, 100%);
$slightly-transparent-white: hsla(0deg, 0%, 100%, 0.75);
$transparent-white: hsla(0deg, 0%, 100%, 0.6);

body {
    font-size: 15px;
}

h2.stats {
    color: $white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1440px;
}

.container img {
    width: 100%;
}

.desktop-header {
    display: block;
}

.main-paragraph {
    color: $slightly-transparent-white;
}

.mobile-header {
    display: none;
}

@media screen and (max-width: 375px) {
    .container {
        width: 300px;
    }

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }
}
